.container {
  align-self: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    margin: 100px;
  }

  .content{
    align-items: center;
    margin: 10px;
  }
  
  .profileImage {
    display: flex;
    align-items: center;
    width: 150px;
    height: auto;
    border-radius: 8px;
  }
  
  .text1 {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #F2507B;
  }
  
  .text {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .shuffle-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #263E75;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .shuffle-button:hover {
    background-color: #F2507B;
    outline: 2px solid #F2507B;
    color: #052440;   
    outline-offset: 4px;
  }
  
  .shuffle-button:active {
    background-color: #F2507B;
    outline: 2px solid #263E75;
    color: #F2507B;   
    outline-offset: 4px;
  }
  